<nav class="navbar navbar-expand-lg ">
    <div class="container">
    <a class="navbar-brand" href="#"><img src="{{site.baseurl}}/{{site.Header.logo}}" alt=""></a>
    <div class="logo-heading">
        <p class="logo-heading-text">
            <span>A ServiceNow</span>
            <br>
Premier Partner
        </p>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <a class="btn btn-warning p-3 ml-auto" href="{{site.baseurl}}/{{site.Header.cta-button-url}}" >{{site.Header.cta-button-text}}</a>
    </div>
    </div>
  </nav>