<!doctype html>
<html lang="en">

<head>
  {% include head.html %}

<body>
  {% include header.html %}
  <!-- banner section -->
  <section class="banner" style="background-image: url('{{site.baseurl}}/{{page.Banner-section.background-image}}');">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-12 banner-left-side">
          <h1>{{ page.Banner-section.heading}}</h1>
          <hr>
          <h6> {{ page.Banner-section.sub-heading}}</h6>
        </div>
        <div class="col-md-6 col-12">
          <div class="form-box" id="form-box"
            style="background-image: url('{{site.baseurl}}/{{page.Banner-section.form.form-background-image}}');">
            <h3>{{ page.Banner-section.form.heading}}</h3>
            <p> {{ page.Banner-section.form.sub-heading}}</p>
            <hr>
            <form>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label> First Name</label>
                  <input type="text" class="form-control">
                </div>
                <div class="form-group col-md-6">
                  <label> Last Name</label>
                  <input type="text" class="form-control">
                </div>
              </div>
              <div class="form-group">
                <label for="inputEmail4">Email</label>
                <input type="email" class="form-control" id="inputEmail4">
              </div>
              <div class="form-group">
                <label for="inputAddress2">Phone Number</label>
                <input type="tell" class="form-control">
              </div>
              <div class="form-group">
                <label for="inputAddress2">Company</label>
                <input type="text" class="form-control">
              </div>
              <div class=" text-center">
                <button type="submit" class="btn btn-primary text-center">Get Started</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- banner section -->

  <!-- second section -->
  <section class="second-section">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-12 left">
          <img src="{{site.baseurl}}/{{page.Second-section.left-image}}" alt="">
        </div>
        <div class="col-md-6  col-12 right">
          <h2>{{page.Second-section.heading}}</h2>
          <p>
            {{page.Second-section.paragraph-text}}
          </p>

        </div>

      </div>

    </div>
    <div class="container">
      <div class="row ">
        <div class="col-md-8 offset-md-2">
          <div class="list-box"
            style="background-image: url('{{site.baseurl}}/{{page.Second-section.list-box-background-image}}');">
            <ul style="list-style: url('{{site.baseurl}}/{{page.Second-section.list-bullet-image}}');">
              {% for li in page.Second-section.list%}
              <li>{{li}}</li>
              {% endfor %}
            </ul>
            <div class="text-center">
              <a class="btn btn-warning p-3 ml-auto mb-3"
                href="{{site.baseurl}}/{{site.Header.cta-button-url}}">{{site.Header.cta-button-text}}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- second section -->
  <!-- third section -->
  <section class="third-section">
    <div class="container">
      <div class="row">
        <div class="col-md-8 offset-md-2  col-12 text-center center">
          <h2>{{page.Third-section.heading}}</h2>
          <p>{{page.Third-section.sub-heading}}</p>

        </div>
        <div class="col-md-8 offset-md-2 col-12">
          <div class="container card-container">
            <!-- first card -->
            <div class="row card-box">
              <div class="col-md-7 text order-12 mb-3">
                <h2>{{page.Third-section.Cards.card1.heading}}</h2>
                <p>{{page.Third-section.Cards.card1.sub-heading}}</p>
              </div>
              <div class="col-md-5  order-md-12  image"> <img src="{{site.baseurl}}/{{page.Third-section.Cards.card1.image}}" alt="">
              </div>
            </div>
            <!-- first card -->

            <!-- second card -->
            <div class="row card-box">
              <div class="col-md-5 image   order-md-12 "> <img src="{{site.baseurl}}/{{page.Third-section.Cards.card2.image}}" alt="">
              </div>
              <div class="col-md-7 text text-alt order-12 mb-3 ">
                <h2>{{page.Third-section.Cards.card2.heading}}</h2>
                <p>{{page.Third-section.Cards.card2.sub-heading}}</p>
              </div>

            </div>
            <!-- second card -->
            <!-- third card -->
            <div class="row card-box">
              <div class="col-md-7 text order-12  mb-3">
                <h2>{{page.Third-section.Cards.card3.heading}}</h2>
                <p>{{page.Third-section.Cards.card3.sub-heading}}</p>
              </div>
              <div class="col-md-5 image order-md-12 "> <img src="{{site.baseurl}}/{{page.Third-section.Cards.card3.image}}" alt="">
              </div>
            </div>
            <!-- third card -->
            <!-- forth card -->
            <div class="row card-box">
              <div class="col-md-5 image  order-md-12 "> <img src="{{site.baseurl}}/{{page.Third-section.Cards.card4.image}}" alt="">
              </div>

              <div class="col-md-7 text text-alt order-12  mb-3">
                <h2>{{page.Third-section.Cards.card4.heading}}</h2>
                <p>{{page.Third-section.Cards.card4.sub-heading}}</p>
              </div>
            </div>
            <!-- forth card -->
            <div class="text-center">
              <a class="btn btn-warning p-3 ml-auto"
                href="{{site.baseurl}}/{{site.Header.cta-button-url}}">{{site.Header.cta-button-text}}</a>
            </div>
          </div>

        </div>

      </div>

    </div>
  </section>
  <!-- third section -->

  <!-- forth section   -->
  <section class="forth-section"
    style="background-image: url('{{site.baseurl}}/{{page.Forth-section.background-image}}');">
    <div class="container">

      <div class="row">
        <div class="col-md-8 offset-md-2 col-12">
          <div class="text-center">
            <h2>{{page.Forth-section.heading}}</h2>
          </div>

        </div>
        <div class="col-md-8 offset-md-2 col-12">
          <div class="container">
            <div class="row">
              <div class="col-md-4 col-12 ">
                <div class="glassmorphism ">
                  <img src="{{site.baseurl}}/{{page.Forth-section.testimonial.image}}" alt="">
                  <p class="name"> {{page.Forth-section.testimonial.name}}</p>
                  <p class="designation">{{page.Forth-section.testimonial.designation}}</p>
                </div>
              </div>
              <div class="col-md-8  col-12">
                <img src="{{site.baseurl}}/{{page.Forth-section.testimonial.quotes-image}}" alt="">
                <p class="paragraph"> {{page.Forth-section.testimonial.paragraph}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- forth section   -->
  <!-- fifth section -->
  <section class="fifth-section">
    <div class="container">
      <div class="row">
        <div class="col-md-8 offset-md-2  col-12 text-center heading">
          <h2>{{ page.Fifth-section.heading}}</h2>
        </div>

      </div>
    </div>
    <div class="container-fluid text-center d-none d-md-block">
      <div class="circles">
        <img src="{{site.baseurl}}/{{page.Fifth-section.circles-container.left-image}}" class="left-right" alt="">
        <div class="circle">
          <div class="card first-card">
            <span>
              <p>1</p>
            </span>
            <img src="{{site.baseurl}}/{{page.Fifth-section.circles-container.first-circle.image}}" alt="">
            <div class="card-body">
              <p>{{page.Fifth-section.circles-container.first-circle.title}}</p>
            </div>
          </div>
        </div>

        <div class="arrow">
          <img src="{{site.baseurl}}/{{page.Fifth-section.circles-container.down-arrow-image}}" alt="">
        </div>
        <div class="circle">
          <div class="card second-card">
            <span>
              <p>2</p>
            </span>
            <img src="{{site.baseurl}}/{{page.Fifth-section.circles-container.second-circle.image}}" alt="">
            <div class="card-body">
              <p>{{page.Fifth-section.circles-container.second-circle.title}}</p>
            </div>
          </div>
        </div>
        <div class="arrow">
          <img src="{{site.baseurl}}/{{page.Fifth-section.circles-container.up-arrow-image}}" alt="">
        </div>

        <div class="circle">
          <div class="card third-card">
            <span>
              <p>3</p>
            </span>
            <img src="{{site.baseurl}}/{{page.Fifth-section.circles-container.third-circle.image}}" alt="">
            <div class="card-body">
              <p>{{page.Fifth-section.circles-container.third-circle.title}}</p>
            </div>
          </div>
        </div>

        <div class="arrow">
          <img src="{{site.baseurl}}/{{page.Fifth-section.circles-container.down-arrow-image}}" alt="">
        </div>


        <div class="circle">
          <div class="card forth-card">
            <span>
              <p>4</p>
            </span>
            <img src="{{site.baseurl}}/{{page.Fifth-section.circles-container.forth-circle.image}}" alt="">
            <div class="card-body">
              <p>{{page.Fifth-section.circles-container.forth-circle.title}}</p>
            </div>
          </div>
        </div>

        <div class="arrow">
          <img src="{{site.baseurl}}/{{page.Fifth-section.circles-container.up-arrow-image}}" alt="">
        </div>


        <div class="circle">
          <div class="card fifth-card">
            <span>
              <p>5</p>
            </span>
            <img src="{{site.baseurl}}/{{page.Fifth-section.circles-container.fifth-circle.image}}" alt="">
            <div class="card-body">
              <p>{{page.Fifth-section.circles-container.fifth-circle.title}}</p>
            </div>
          </div>
        </div>

        <img src="{{site.baseurl}}/{{page.Fifth-section.circles-container.right-image}}" class="left-right" alt="">

      </div>
    </div>

    <div class="container">
      <div class="row ">
        <div class="col-md-8 offset-md-2 col-12  text-center">
          <p class="paragraph text-center">
            {{page.Fifth-section.paragraph}}
          </p>
        </div>

      </div>
    </div>

    <div class="container">
      <div class="row cards  ">
        {% for card in site.cards %}
        {% if card.is-normal %}
        <div class="normal ">
          <div class="text-center">
            <img src="{{site.baseurl}}/{{card.image}}" alt="">
          </div>
          <h2> {{card.title}}</h2>
          <p> {{card.content}}</p>
        </div>
        {% else %}
        <div class="long-one row">
          <div class="left col-md-4 col-8 offset-md-0 offset-2">
            <img src="{{site.baseurl}}/{{card.image}}" alt="">
          </div>
          <div class=" col-md-8">
            <h2> {{card.title}}</h2>
            <p> {{card.content}}</p>
          </div>
        </div>
        {% endif %}
        {% endfor %}


      </div>
      <div class="text-center">
        <a class="btn btn-warning p-3 ml-auto mt-5"
          href="{{site.baseurl}}/{{site.Header.cta-button-url}}">{{site.Header.cta-button-text}}</a>
      </div>
    </div>
  </section>
  <!-- fifth section -->
  <!-- sixth section -->
  <section class="sixth-section">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h2>
            {{page.sixth-section.heading}}
          </h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-12 left-image">
          <img src="{{site.baseurl}}/{{page.sixth-section.left-image}}" alt="">
        </div>
        <div class="col-md-6  col-12 paragraph">
          <p>
            {{page.sixth-section.paragrapg}}
          </p>
        </div>
      </div>
      <div class="row ">
        <div class="col-md-8 offset-md-2 col-10 offset-1 center"
          style="background-image: url('{{site.baseurl}}/{{page.sixth-section.center-box.background-image}}');">
          <p class="bold">
            {{page.sixth-section.center-box.heading}}
          </p>
          <p class="normal">
            {{page.sixth-section.center-box.sub-heading}}
          </p>
        </div>
      </div>
    </div>
  </section>
  <!-- sixth section -->
  <!-- last section -->
  <section class="last-section" style="background-image: url('{{site.baseurl}}/{{page.last-section.background-image}}');">
    <div class="container">
      <div class="row">
        <div class="col-md-6  col-12 d-md-block d-none">
        </div>
        <div class="col-md-6  col-12 heading">
          <h2>
            {{page.last-section.heading-text}}
          </h2>
          <div class="text-center">
            <a class="btn btn-warning p-3 ml-auto"
              href="{{site.baseurl}}/{{site.Header.cta-button-url}}">{{site.Header.cta-button-text}}</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- last section  -->

  {% include footer.html %}
  {% include script.html %}
</body>

</html>